.contact-container {
    background-color: var(--light-bg);
    background-image: url(../../img/contact-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-section);
    backdrop-filter: blur(3px) brightness(0.7);
    border-bottom: 1px solid var(--dark-bg);
}

.contact{
    max-width: var(--max-width);
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact__title{
    font-size: var(--title-size);
    font-weight: bold;
    color: var(--text);
    margin-bottom: 14px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg);
    max-width: 480px;
    width: 100%;
    padding: 30px 38px;
    border-radius: var(--radius);
    gap: 6px;
}

.contact__form--group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 100%;
}

.contact__form--label{
    font-size: var(--text-size);
    font-weight: bold;
    color: var(--text);
    width: 100%;
}

.contact__form--input{
    border-radius: 5px;
    outline: none;
    font-size: var(--text-size);
    color: var(--text);
    background-color: var(--light-bg);
    border: none;
    resize: none;
    padding: 12px;
    width: 100%;
    border: 2px solid transparent;
}


.contact__form--btn{
    width: 100%;
    border-radius: var(--radius-sm);
    outline: none;
    font-size: var(--text-size);
    color: var(--dark-bg);
    background-color: var(--primary-color);
    border: none;
    padding: .6rem;
    cursor: pointer;
    margin-top: 8px;
    font-weight: 500;
    height: 40px;
}

.invalid-input{
    border: 2px solid var(--error);
    animation: fadeInput .3s;
}

.input-invalid__message{
    width: 100%;
    color: var(--error);
    font-size: .9rem;
    height: 15px;
    text-align: right;
}

@keyframes fadeInput {
    0% {
        border: 2px solid transparent;
    }
    100% {
        border: 2px solid var(--error);
    }
}