.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    max-width: var(--max-width);
    width: var(--width);
    padding: 20px;
}

.footer__text{
    font-size: .98rem;
    opacity: .9;
    color: var(--text-secondary);
}

.footer__text a{
    color: var(--text-secondary);
}